<section class="register-block">
  <div class="container">
    <div class="row register-sec">
      <div class="col-md-12 register-sec pb-0 pt-0">
        <h2 class="text-center">Register Now</h2>
      </div>
      <form class="register-form col-md-12" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              <label for="Email" class="text-uppercase">Email</label>
              <input type="text" class="form-control" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Username" class="text-uppercase">Username</label>
              <input type="text" class="form-control" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="form-group">
              <label for="Password" class="text-uppercase">Password</label>
              <input type="password" class="form-control" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-check">
              <button type="submit" class="btn btn-register float-right">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-8 banner-sec">
        <ul >
          <li><a (click)="signInWithGoogle()" class="btn btn-lg btn-google"> <span
                class="fa fa-google-plus fa-fw"></span> Login with Google </a> </li>
          <li> <a (click)="signInWithFB()" class="btn btn-lg btn-facebook"> <span
                class="fa fa-facebook fa-fw"></span> Login with Facebook </a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
